.grid-container {
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  border: 1px solid red;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fill, 300px);
  grid-template-columns: repeat(auto-fill, 270px);
  grid-auto-columns: 270px;
  grid-auto-rows:  300px;
  height: auto; /* NEW */
}
  
.grid-container > div {
  background: white;
}

.main-container {
  display: flex;
}

.header {
  display: flex;
}